<p> Edit your ToDo list. </p>

<form action="/todos/<%= @todo.id %>/update" method="post">
  <p> List Name: </p>
    <input type="text" name="new_title" value="<%= @todo.title%>"><br>
  <p> Assigned To:</p>
    <input type="text" name="new_assigned_to_id" value="<%= @todo.assigned_to_id %>"><br>
  <p> Add things to do </p>
    <textarea row="8" cols="50" name="new_description">
      <%= @todo.description%> </textarea>
    <input type="submit">
</form>

Conference:<br>

<select name="new_category_id">
 <% @categories.each do |c| %>
  <option value="<%= c.id %>" <% if c.id == @todo.category_id%> selected <% end %>> <%= c.name %></option>
  <% end %>
</select>
<input type="submit">
</form>

<form action="/todos/<%= @todo.id %>/delete" method="post">
<input type="submit" value="delete">
</form>


