<table border="1">
  <thead>
    <tr>    
      <th>List Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Created by</th>
      <th>Assigned To</th>
    </tr>
  </thead>

  <tbody>
    <tr>      
      <td><%= @todo.title %></td>
      <td><%= @todo.category_name %></td>
      <td><%= @todo.description %></td>
      <td><%= @todo.user_name %></td>
      <td><%= @todo.assigned_to_name %></td>      
    </tr>
  </tbody>
</table>
<br>

<form action="/todos/<%= @todo.id %>/edit">
<input type="submit" value="edit">
</form>

<form action="/todos/<%= @todo.id %>/delete" method="post">
<input type="submit" value="delete">
</form>

