see ToDo list here
<p><%= @todo.title %></p>
<p><%= @todo.assigned_to_id %></p>
<p><%= @todo.description %></p>


<form action="/todos/<%= @todo.id %>/edit">
<input type="submit" value="edit">
</form>

<form action="/todos/<%= @todo.id %>/delete" method="post">
<input type="submit" value="delete">
</form>

